@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Buenard);
@import url(https://fonts.googleapis.com/css?family=Chivo);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);
body {
  padding: 0;
  background-color: #fafafa;
  font-family: "Chivo", sans-serif; }
  body .content {
    margin: 0 auto;
    margin-top: 0;
    padding-top: 9rem;
    width: 100%;
    max-width: 70rem; }

.app-header .app-intro {
  font-size: 200%;
  font-weight: normal;
  font-family: "Playfair Display SC", serif; }

.iex-blurb {
  font-family: "Chivo", sans-serif;
  font-size: .75rem; }

.header {
  top: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 4rem; }
  .header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; }
    .header .navbar .navbar__logo--long {
      font-weight: normal;
      font-family: "Playfair Display SC", serif;
      font-size: 1.75rem; }
    .header .navbar .navbar__logo--short {
      display: none; }
    .header .navbar .navbar__button-group .navbar__button {
      height: 2rem;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: bold;
      border: none;
      border-right: none;
      outline: none;
      cursor: pointer; }
      .header .navbar .navbar__button-group .navbar__button:hover {
        border-bottom: 2px solid black; }
  .header .login-modal {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header .login-modal.false {
      height: 0;
      opacity: 0;
      visibility: hidden; }
    .header .login-modal .login-modal-section {
      display: flex;
      flex-flow: column; }
      .header .login-modal .login-modal-section form {
        display: block; }
        .header .login-modal .login-modal-section form input {
          border: none;
          border-bottom: 2px solid black;
          font-size: .75rem;
          height: 1.5rem;
          width: 15rem;
          margin-bottom: 1rem; }
        .header .login-modal .login-modal-section form button {
          cursor: pointer;
          border: none;
          font-weight: bold;
          font-size: 1rem;
          line-height: 1.5rem; }
          .header .login-modal .login-modal-section form button:hover {
            border-bottom: 2px solid black; }
    .header .login-modal .login-modal-login {
      display: flex; }

@media (max-width: 720px) {
  .header {
    padding: 0 2rem; }
    .header .navbar .navbar__logo--short {
      display: flex;
      font-weight: normal;
      font-family: "Playfair Display SC", serif;
      font-size: 1.25rem; }
    .header .navbar .navbar__logo--long {
      display: none; }
    .header .navbar .navbar__button-group .navbar__button {
      font-size: 0.9rem; }
    .header .login-modal {
      height: 100vh;
      flex-flow: column;
      justify-content: flex-start; }
      .header .login-modal .login-modal-section {
        margin-top: 5rem; } }

.searchbar {
  display: block;
  padding: 0rem 5% 0; }
  .searchbar .searchbar-input {
    background-color: #fafafa;
    position: relative;
    font-size: 1rem;
    width: 80%;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-bottom: 2px solid black;
    color: rgba(1, 1, 1, 0.5);
    outline: none; }
    .searchbar .searchbar-input:focus {
      color: black;
      border-bottom: 2px solid black; }
  .searchbar .searchbar-suggestions {
    z-index: 1000;
    font-family: "Chivo", sans-serif;
    position: absolute;
    background-color: white;
    left: 21%;
    margin-top: .5rem;
    width: 57%;
    padding: .5rem;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: .3rem; }
    .searchbar .searchbar-suggestions.hidden {
      visibility: hidden; }
    .searchbar .searchbar-suggestions .searchbar-suggestion {
      text-align: left;
      width: 100%;
      margin: .3rem;
      cursor: pointer; }
      .searchbar .searchbar-suggestions .searchbar-suggestion:hover {
        text-decoration: underline; }

.btn-group-timeRange {
  margin-top: 1rem;
  display: inline-block; }
  .btn-group-timeRange .btn {
    height: 2rem;
    border: none;
    border-right: none;
    outline: none;
    cursor: pointer;
    color: rgba(1, 1, 1, 0.7);
    background-color: #fafafa; }
    .btn-group-timeRange .btn.btn-active {
      font-weight: bold;
      border-bottom: 2px solid black;
      color: black; }
    .btn-group-timeRange .btn:hover {
      border-bottom: 2px solid black;
      color: black; }

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh; }
  .chart-container #stockChart {
    cursor: pointer; }

.modal {
  text-align: left;
  font-size: .75rem;
  width: 20vh;
  border: 1px solid rgba(160, 160, 160, 0.5);
  border-radius: .5rem;
  padding: .5rem 1rem 0.5rem 1rem;
  background-color: rgba(251, 255, 0, 0.3);
  border-color: rgba(255, 200, 0, 0.4); }
  .modal p {
    margin: 0; }

.article-list {
  padding: 0;
  list-style-type: none;
  text-align: left; }

.article-item {
  border-bottom: 0.2rem solid #ffec00;
  cursor: pointer; }
  .article-item a {
    color: black;
    text-decoration: none; }
    .article-item a .snippet {
      color: rgba(1, 1, 1, 0.5); }
    .article-item a:hover .headline {
      text-decoration: underline; }
    .article-item a:hover .snippet {
      color: black; }
    .article-item a:last-of-type {
      border-bottom: none; }
