body{
  padding: 0;
  background-color: rgba(250,250,250,1);
  font-family: $font3;
  .content{
    margin: 0 auto;
    margin-top: 0;
    padding-top: 9rem;
    width: 100%;
    max-width: 70rem;
  }
}
.app-header {
  .app-intro{
    font-size: 200%;
    @include font1
    mark{
      // background-color: rgba(255,236,0,1);
    }
  }
}

  .iex-blurb{
    @include font3;
    font-size: .75rem;
  }