body{
  height: 100vh;
  // background-image: linear-gradient(to bottom right, #f69aa5, #8d9bed);
}
.header {
  .header__title{
    font-size: 2rem;
    @include font1
  }
}

  .iex-blurb{
    @include font3;
    font-size: .75rem;
  }