@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Buenard);
@import url(https://fonts.googleapis.com/css?family=Chivo);
.app-header .app-intro {
  font-size: 200%;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;
  font-style: italic; }

.iex-blurb {
  font-family: "Chivo", sans-serif;
  font-size: .75rem; }

.searchbar {
  display: block; }
  .searchbar .searchbar-input {
    position: relative;
    font-size: 1rem;
    width: 80%;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-bottom: 2px solid black;
    color: rgba(1, 1, 1, 0.5);
    outline: none; }
    .searchbar .searchbar-input:focus {
      color: black;
      border-bottom: 2px solid black; }
  .searchbar .searchbar-suggestions {
    font-family: "Chivo", sans-serif;
    position: absolute;
    background-color: white;
    left: 21%;
    margin-top: .5rem;
    width: 57%;
    padding: .5rem;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: .3rem; }
    .searchbar .searchbar-suggestions.hidden {
      visibility: hidden; }
    .searchbar .searchbar-suggestions .searchbar-suggestion {
      text-align: left;
      width: 100%;
      margin: .3rem;
      cursor: pointer; }
      .searchbar .searchbar-suggestions .searchbar-suggestion:hover {
        text-decoration: underline; }

.btn-group-timeRange {
  margin-top: 1rem;
  display: inline-block; }
  .btn-group-timeRange .btn {
    height: 2rem;
    border: none;
    border-right: none;
    outline: none;
    cursor: pointer;
    color: rgba(1, 1, 1, 0.7); }
    .btn-group-timeRange .btn.btn-active {
      font-weight: bold;
      border-bottom: 2px solid black;
      color: black; }
    .btn-group-timeRange .btn:hover {
      border-bottom: 2px solid black;
      color: black; }

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh; }
  .chart-container #stockChart {
    cursor: pointer; }

.modal {
  text-align: left;
  font-size: .75rem;
  width: 20vh;
  border: 1px solid rgba(160, 160, 160, 0.5);
  border-radius: .5rem;
  padding: .5rem 1rem 0.5rem 1rem;
  background-color: rgba(251, 255, 0, 0.3);
  border-color: rgba(255, 200, 0, 0.4); }
  .modal p {
    margin: 0; }

.article-list {
  padding: 0;
  list-style-type: none;
  text-align: left; }

.article-item {
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  cursor: pointer; }
  .article-item a {
    color: black;
    text-decoration: none; }
    .article-item a .snippet {
      color: rgba(1, 1, 1, 0.7); }
    .article-item a:hover .headline {
      text-decoration: underline; }
    .article-item a:hover .snippet {
      color: black; }
    .article-item a:last-of-type {
      border-bottom: none; }
